@page
@model ClothingRentalUI.Pages.Clothes.IndexModel
@{
    ViewData["Title"] = "Trang quản trị";
}

<div class="empty-dashboard">
    <!-- View trống theo yêu cầu để hiển thị menu bên sidebar -->
</div>
