@page
@model ClothingRentalUI.Pages.Settings.UsersModel
@{
    ViewData["Title"] = "Quản lý người dùng";
}

<div class="empty-dashboard">
    <!-- View trống cấu hình hệ thống theo yêu cầu -->
</div>
